.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-container {
  width: 100%;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}