.container {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.tab-button,
.contact-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-duration);
}

.tab-button.active,
.contact-button {
  background-color: var(--color-accent);
}

.tab-button:not(.active) {
  background-color: transparent;
  color: var(--color-secondary);
}

.tabs-container {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  position: relative;
}

.tabs-container::before,
.tabs-container::after {
  content: '';
  flex: 1;
}

.content {
  background-color: #1e293b;
  color: white;
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s;
}

.content:hover {
  transform: scale(1.05);
}
