.prose a {
  text-decoration: underline;
  color: var(--color-accent);
}

.prose ol {
  list-style-type: decimal;
  margin-left: 2em;
  padding-left: 0.5em;
}

.prose ol li {
  margin-bottom: 0.5em;
  color: var(--color-text-primary);
  line-height: 1.5;
}
